
/* global body attributes */	
body {
  margin:0px 10px 10px 20px;
  background:#145;
  color: #eee;
  font-family: Trebuchet MS, courier new, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  width: 800px;
  padding-left: 20px;
  padding-bottom: 1000px;
}

img {
  border: 0px;
}

#toptable {height: 30px}
#me { color: #bbb }

/* link colors */
a 		{ color: #bbb; text-decoration: underline; }
a:link		{ color: #bbb;}
a:visited	{ color: #bbb;}
a:active	{ color: #fd4;}
a:hover		{ color: #fd4;}

a.hyper { color: #bbb; text-decoration: none; padding-top:30px}
a.offseth { position: relative; padding-top:50px; z-index:-1}

#toppage {}
/*#lastnav {border-right: 1px solid #eee}*/
#navbar a 	{ color: #ddd; text-decoration: none; }
#navbar a:link		{ color: #ddd;}
#navbar a:visited	{ color: #ddd;}
#navbar a:active		{ color: #08a;}
#navbar a:hover		{ color: #08a;}

div.img img {
	margin-right: 10px
}

h1 {
   font-family: Trebuchet MS, courier new, verdana, helvetica, arial, helvetica, sans-serif;
   font-size: 20px;
/*   text-transform: uppercase; */
   color: #eee;
   margin: 0px;
   padding: 0px;
}
h2 {
   font-family: Trebuchet MS, courier new, helvetica, arial, helvetica, sans-serif;
   font-size: 17px;
   color: #eee;
   margin: 0px;
   padding: 0px;
}

h3 {
   font-family: Trebuchet MS, courier new, helvetica, arial, helvetica, sans-serif;
   font-size: 17px;
   color: #eee;
   margin: 20px 0px 10px 0px;
   padding: 0px;
}

ul, ol{
margin: 0;
padding: 0;
}
li{
margin-left: 16px;
padding: 0;
margin-top: 0;
margin-bottom: 0;
}

#container{
   margin: 0 auto;
   width: 808px;
   text-align: left;
}
/*header*/
#header { 
  font-family:verdana, arial, helvetica, sans-serif;
  color:#000;
  clear: both;
  position: absolute;
  top: 0px;
  left: 50px;
}

/*navbar*/
#navbar{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
/*	opacity: 0.8; */
	position: fixed;
/*	margin: 100px 100px 100px 100px */
	margin-left: 5px;
/*	color: #eee;*/
	padding: 5px 0 5 0;
	background-color: #145;

	width: 808px;
	width: 100%;
	height: 20px;
/*	position: absolute;
	top: 103px;
	left: 0px;
	text-align: right; */
	z-index=10
}

#awesome {
	color: #444
}

/*
#content {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
padding-left: 0px;
margin-left: 0px;
margin-bottom:20px;
/*position: absolute;*/
top: 20px;
left: 20px;
/*width: 538px;*/
}
*/

.makespace{
height:50px;
}

#ename{
	font-family: verdana;
	font-size: 12
	}
